[data-testid="virtuoso-item-list"] div[data-index]:first-child div.chakra-collapsible__root {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

[data-testid="virtuoso-item-list"] div[data-index]:last-child div.chakra-collapsible__root {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}