# Created by .ignore support plugin (hsz.mobi)
node_modules
npm-debug.log
Dockerfile
.dockerignore
.gitignore
.github
.git
*.log
.idea
config/*.json
config/*.bak
config/*.p8
/docs
/logs
.flatpak-builder
flatpak/generated-sources.json
flatpak/.flatpak-builder
docsite/build
docsite/node_modules
docsite/.docusaurus
docsite/.cache-loader
build
*.secrets
