# Created by .ignore support plugin (hsz.mobi)
node_modules
npm-debug.log
Dockerfile
.dockerignore
.gitignore
.git
config/currentCreds.json
*.log
config/maloja.json
config/spotify.json
config/config.json
/docs
