## All ENV config can go here
##
## if you are running node from the same directory to start MS
## 
## or if `env_file` is specified in docker-compose.yml

## Set timezone from TZ Database name found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
#TZ=Etc/GMT

## Set directories for persistent data/logs
## these defaults directories are ignored by git/docker 
##
## see also https://docs.multi-scrobbler.app/installation/#config-and-data-directories
#CONFIG_DIR=./config
#DATA_DIR=./config
#LOGS_DIR=./config/logs

#LOG_LEVEL=trace