<html>
<body>
<h2>Status: <%= status %><b></b></h2>
<% if (authUrl) { %>
    Visit <a target="_blank" href="<%= authUrl %>">Redirect URL to start polling</a>
<% } %>
<h2>Log (Last 50, most recent first)</h2>
<pre>
    <% logs.forEach(function (logEntry){ %>
    <%=logEntry%><% }) %>
</pre>
</body>
</html>
