// #mosaic-provider-react-aria-0-1 .JsonSchemaViewer {

//     *,
//     :after,
//     :before {
//         border-color: rgba(205, 208, 212, 0.5);
//     }
// }

// [data-theme="light"] #mosaic-provider-react-aria-0-1 .JsonSchemaViewer {

//     *,
//     :after,
//     :before {
//         border-color: rgba(5, 5, 5, 0.5);
//     }
// }