services:
  multi-scrobbler:
    volumes:
      - kasm_run:/run
  kasmcord:
    container_name: kasmcord
    image: kasmweb/discord:1.14.0
    ports:
      # VNC port to use in web browser
      - 6901:6901
    shm_size: 512m
    environment:
      # set a password for VNC access
      VNC_PW: ${KASM_PW:-hunter2}
      XDG_RUNTIME_DIR: /run/user/1000
    volumes:
      - kasm_run:/run/user/1000
      - kasm_config:/home/kasm-user/.config
    user: "0"
    entrypoint: sh -c "chmod 700 /run/user/1000 && chown -R kasm-user:kasm-user /run/user/1000 && chown -R kasm-user:kasm-user /home/kasm-user/.config && su kasm-user -c '/dockerstartup/kasm_default_profile.sh /dockerstartup/vnc_startup.sh /dockerstartup/kasm_startup.sh'"

volumes:
  kasm_run:
    name: kasm_run
  kasm_config:
    name: kasm_config