{
  "interval": 60,       // optional, number of seconds to wait before checking spotify for new tracks
  "spotify": {},        // optional, may specify config here instead of in CONFIG_DIR/spotify.json

                        // array of clients to scrobble to
  "clients": [
    "maloja",           // if a json config file of the same name is in CONFIG_DIR then only specify client as a string

    {                   // otherwise specify client config as an object:
      "type": "maloja", // client name
      "data": {}        // config data
    },

  ]
}
