{
  "sourceDefaults": {
    "maxPollRetries": 0,          // optional, default # of automatic polling restarts on error. can be overridden by property in individual config
    "maxRequestRetries": 1,       // optional, default # of http request retries a source can make before error is thrown. can be overridden by property in individual config
    "retryMultiplier": 1.5,       // optional, default retry delay multiplier (retry attempt * multiplier = # of seconds to wait before retrying). can be overridden by property in individual config
  },
  "clientDefaults": {
    "maxRequestRetries": 1,       // optional, default # of http request retries a client can make before error is thrown. can be overridden by property in individual config
    "retryMultiplier": 1.5,       // optional, default retry delay multiplier (retry attempt * multiplier = # of seconds to wait before retrying). can be overridden by property in individual config
  },
  "sources": [
    {
      "type": "spotify",          // required, source type
      "clients": ["myConfig"],    // optional, a list of Client config names this Source should scrobble to. Using an empty list or not including this property will make this Source scrobble to all Clients.
      "name": "mySpotifySource",  // optional, friendly name for the log
      "data": {                   // required, the data for your config
        "clientId": "example",
        //...
      }
    }
  ],
  "clients": [
    {
      "type": "maloja",           // required, Client type
      "name": "myConfig",         // required, a name to identifier your Client
      "data": {                   // required, the data for your config
        "url": "http://example.com",
        //...
      }
    },
  ]
}
