[
  {
    "name": "FoxxMDeezer",
    "clients": [],
    "data": {
      "clientId": "a89cba1569901a0671d5a9875fed4be1",
      "clientSecret": "ec42e09d5ae0ee0f0816ca151008412a",
      "redirectUri": "http://localhost:9078/deezer/callback",
      "interval": 60
    }
  }
]
