[
    {
      "name": "MS",
      "enable": true,
      "data": {
        "token": "Ma7XBvzRERK3gQdkX4dkb3OQ.6aaGmJ.rvFiiVrzG4VXHHL3LyhZYhpWdG3Ph_if9aKz5E",
        "applicationId": "8190211179716453570"
      }
    }
  ]
  