[
  {
    "name": "MyJellyfin",
    "enable": true,
    "clients": [],
    "data": {
      "url": "http://localhost:8096",
      "user": "FoxxMD",
      "apiKey": "c9fae8756fbf481ebd9c5bb56bd6540c",
      "usersAllow": ["FoxxMD","SomeOtherUser"],
      "usersBlock": ["AnotherUser"],
      "devicesAllow": ["firefox"],
      "devicesBlock": ["google-home"]
    },
    "options": {
      "logFilterFailure": "debug"
    }
  }
]
