[
  {
    "name": "MyJellyfin",
    "enable": true,
    "clients": [],
    "data": {
      "users": ["FoxxMD"],
      "servers": ["myServer","anotherServer"]
    },
    "options": {
      "logPayload": false,
      "logFilterFailure": "warn"
    }
  }
]
