[
  {
    "name": "brainzClient",
    "enable": true,
    "configureAs": "client",
    "data": {
      "token": "029b081ba-9156-4pe7-88e5-3be671f5ea2b",
      "username": "FoxxMD",
      "url": "https://api.listenbrainz.org"
    }
  },
  {
    "name": "brainzSource",
    "enable": true,
    "configureAs": "source",
    "data": {
      "token": "029b081ba-9156-4pe7-88e5-3be671f5ea2b",
      "username": "FoxxMD",
      "url": "https://api.listenbrainz.org"
    }
  }
]
