[
  {
    "name": "brainzClient",
    "enable": true,
    "configureAs": "client",
    "data": {
      "token": "029b081ba-9156-4pe7-88e5-3be671f5ea2b",
      "username": "FoxxMD"
    }
  },
  {
    "name": "brainzSource",
    "enable": true,
    "configureAs": "source",
    "data": {
      "token": "029b081ba-9156-4pe7-88e5-3be671f5ea2b",
      "username": "FoxxMD"
    }
  },
  {
    "name": "koitoClient",
    "enable": true,
    "configureAs": "client",
    "data": {
      "token": "029b081ba-9156-4pe7-88e5-3be671f5ea2b",
      "username": "FoxxMD",
      "url": "http://192.168.0.100:4110/apis/listenbrainz/1"
    }
  },
]
