[
  {
    "name": "Maloja Client",
    "id": "myMalojaClient",
    "enable": true,
    "configureAs": "client",
    "data": {
      "url": "http://localhost:42010",
      "apiKey": "myMalojaKey"
    }
  },
    {
    "name": "Maloja Source",
    "id": "myMalojaSource",
    "enable": true,
    "configureAs": "source",
    "data": {
      "url": "http://localhost:42010",
      "apiKey": "myMalojaKey"
    }
  }
]
