[
  {
    "name": "Mopidy Desktop",
    "id": "MyMopidy",
    "enable": true,
    "data": {
      "url": "localhost",
      "uriBlacklist": [],
      "uriWhitelist": [],
      "albumBlacklist": []
    }
  }
]
