[
  {
    "name": "MyPlexApi",
    "enable": true,
    "clients": [],
    "data": {
      "token": "1234",
      "url": "http://192.168.0.120:32400"
      "usersAllow": ["FoxxMD","SomeOtherUser"],
      "usersBlock": ["AnotherUser"],
      "devicesAllow": ["firefox"],
      "devicesBlock": ["google-home"],
      "librariesAllow": ["GoodMusic"],
      "librariesBlock": ["BadMusic"]
    },
    "options": {
      "logPayload": true,
      "logFilterFailure": "debug"
      }
  }
]
