[
    {
    "name": "myRockskyClient",
    "configureAs": "client",
    "data": {
      "key": "7cdr86vis3mpq5b1pi01md0hkm7ykzzxjy81r",
      "handle": "alice.bsky.social"
    }
  },
  {
    "name": "myRockskySource",
    "configureAs": "source",
    "data": {
      "key": "e4xwktm7jxm607x8el1fcda30eu14dzb64h3j",
      "handle": "alice.bsky.social"
    }
  }
]