[
  {
    "enable": true,
    "id": "MySonos",
    "name": "Boom 2",
    "data": {
      "host": "192.168.0.150",
      "devicesAllow": ["move","beam"],
      "devicesBlock": ["roam"],
      "groupsAllow": ["family"],
      "groupsBlock": ["bedroom"]
    }
  }
]
