{
  "clientId": "string", // spotify client id
  "clientSecret": "string", // spotify client secret
  "redirectUri": "http://localhost:9078/callback", // optional, spotify callback url. useful if this installation is behind a reverse proxy
  "callbackPath": "callback" // optional, if redirectUri does not end with /callback then must specify path here
}
