[
  {
    "name": "MySubsonic",
    "enable": true,
    "data": {
      "url": "http://localhost:4040/airsonic",
      "user": "yourUser",
      "password": "yourPassword",
      "usersAllow": ["yourUser"]
    }
  }
]
