[
    {
        "name": "myTeal",
        "configureAs": "client",
        "data": {
            "identifier": "myemail@gmail.com",
            "appPassword": "twog-phu7-4dhe-y4j3"
        }
    },
        {
        "name": "myTealSource",
        "configureAs": "source",
        "data": {
            "identifier": "myemail@gmail.com",
            "appPassword": "twog-phu7-4dhe-y4j3"
        }
    }
]