.schemaWrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 996px) {
  .schemaWrapper {
    flex-direction: column;
  }
}